/* Custom sign up button */
.btn-signup {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.btn-signup:hover {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
    font-weight: bold;
}

/*Custom sign in button*/
.btn-signin {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.btn-signin:hover {
    color: #fff;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    font-weight: bold;
}

.remember-me,
.remember-me:focus {
    box-shadow: none;
    vertical-align: middle;
    padding-top: -4px;
}

.remember-me-text {
    color: #333;
    vertical-align: middle;
    padding-top: 15px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

/*.navbar-wrapper .navbar .container {
  width: auto;
}*/

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }

    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /*footer for sign in page*/
    .signin-footer {
        background-color: rgba(255, 255, 255, 0.3);
        width: 100%;
        height: 60px;
        bottom: 0px;
        position: fixed;
        text-align: center;
    }

    .signin-footer-text {
        margin-top: 18px;
    }

    .top-and-bottom {
        vertical-align: middle;
    }

    .invalid-input-alert {
        margin-top: 5px;
        font-style: italic;
        color: rgba(255, 0, 0, .8);
    }